h1{
    color: rgb(235, 45, 45);
}
h2{
    color: rgb(240, 154, 41);
}
h3{
    color: rgb(240, 240, 57);
}
h4{
    color: rgb(30, 190, 30);
}
h5{
    color: rgb(41, 41, 231);
}
h6{
    color: rgb(87, 28, 129);
}
p{
    color: indigo
}