h1 {
    color: rgba(255, 0, 0, 0.623);
}

h2{
    color: rgba(207, 161, 75, 0.699);
}

h3{
    color: rgba(255, 255, 0, 0.623);
}

h4{
    color: rgba(0, 128, 0, 0.534);
}

h5{
    color: rgba(0, 0, 255, 0.575);
}

h6{
    color: rgba(85, 28, 126, 0.63);
}


p{
    color: #8a6b68;
}