

h1 {
     color: rgb(230, 100, 100) 
}



h2 {
    color: rgb(223, 169, 70) 
}


h3 {
    color: rgb(202, 202, 126);
}

h4 {
    color: rgb(104, 170, 104);
}



h5 {
    color: rgb(114, 114, 192);
}

h6 {
    color: rgb(163, 129, 187);
}


p {
    color: rgb(77, 6, 77);
}