h1 {
  color: rgba(255, 0, 0, 0.9);
}
h2 {
  color: rgba(255, 165, 0, 0.8);
}

h3 {
  color: rgba(255, 255, 0, 0.7);
}

h4 {
  color: rgba(0, 128, 0, 0.6);
}

h5 {
  color: rgba(0, 0, 255, 0.5);
}

h6 {
  color: rgba(75, 0, 130, 0.4);
}

p {
  color: rgba(255, 0, 255, 0.3);
}
